.searchField {
  width: 70%;
  padding: 1em;
  border-radius: 12px;
  border:none;
  box-shadow: none;

  // Prevents Safari from doing that awful automated zoom thing
  font-size: 16px;

  transition: background 1s;

  &:focus {
    outline: none;
  }
}

.button {
  font-weight: bold;
  font-variant: small-caps;
  background: #2e2e2e;
  color: white;
  letter-spacing: 1.5;
  width: 30%;
  padding: 1em;
  border-radius: 12px;
  transition: background .5s;
  border: none;
  box-shadow: none;
  font-size: 16px;

  &:hover {
    background: #111;
  }

  &:focus {
    outline: none;
  }
}
