.searchField {
  width: 70%;
  padding: 1em;
  border-radius: 12px;
}

.button {
  font-weight: bold;
  font-variant: small-caps;
  background: #333;
  color: white;
  letter-spacing: 1.5;
  width: 30%;
  padding: 1em;
}
